.container {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 62.5em;
	margin: 0em auto 0em auto;
}

/* center container */

table,
th,
td {
	border: 0.063em solid black;
	border-collapse: collapse;
}

th {
	text-align: left;
	padding: 0.5em;
	background-color: #4caf50;
	color: white;
	min-width: 6.25em;
}

td {
	text-align: left;
	padding: 0.5em;
}

.button {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 0.938em 2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	margin: 0.25em 0.125em;
	cursor: pointer;
	border-radius: 0.313em;
}

.recipe-image {
	border-radius: 0.313em;
	text-align: center;
	margin: 0em auto 0em auto;
	width: 100%;
}

.comment-textarea {
	width: 99%;
	height: 6.25em;
	border: 0.063em solid #ccc;
	border-radius: 0.25em;
	resize: none;
}

.mb-1 {
	margin-bottom: 1ch;
}
.mb-2 {
	margin-bottom: 2ch;
}
.mb-3 {
	margin-bottom: 3ch;
}
.mb-4 {
	margin-bottom: 4ch;
}

.flex-container {
	display: flex;
	flex-direction: row;
	width: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: #333;
	justify-content: center;
}

.flex-container > a {
	margin: 0.625em;
	text-decoration: none;
	font-weight: 800;
	font-size: 1.25em;
	display: block;
	color: white;
	text-align: center;
	padding: 0.875em 1em;
}

.flex-container > p {
	margin-top: 0.813em;
	border-left: 0.063em solid white;
	font-size: 0.875em;
	color: white;
	text-align: center;
	padding: 0.875em 1em;
}

.flex-container .active {
	background-color: #04AA6D;
}
.flex-container a:hover {
	background-color: #111;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
}

.header {
	grid-column-start: 1;
	grid-column-end: 4;
}

.menu {
	grid-column-start: 1;
	grid-column-end: 2;
}

.content {
	grid-column-start: 1;
	grid-column-end: 4;
}

.footer {
	margin-top: 3.125em;
	grid-column-start: 1;
	grid-column-end: 4;
}
