<html>
	<head>

		<meta charset='utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script type='importmap'>{"imports":{"cookie" : "/javascripts/cookie.js" } }</script>
	</head>
	<header>
		<div class='header flex-container'>
			<a href='/'>Home</a>
			<a href='/recipe/search'>Rezepte</a>
			<a href='#footer'>Sonstiges</a>
		</div>
	</header>
	<body>
		{{{body}}}
	</body>
</html>