<html>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script type='module' src='/javascripts/cookie.js'> </script>
	</head>
	<header>
		<div class='header flex-container'>
			<a href='/'>Home</a>
			<a href='/recipe/search'>Rezepte</a>
			<a href='#footer'>Sonstiges</a>
		</div>
	</header>
	<body>
		{{{body}}}
	</body>

	<div id='footer' class='footer flex-container'>
		<a href='notFound.html'>Impressum</a>
		<p>Alle Rechte vorbehalten</p>
		<p>
			Webanwendung herunterladen:
			<a
				href='https://github.com/Gruppe-B2-Webprogrammierung/Webprogrammierung-B2'
			>GitHub</a>
		</p>
	</div>
</html>